[user]
	email = marvinzem@gmail.com
	name = iarigby
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	amend = commit --amend -C HEAD
